<div *ngIf="product.title" class="card">
  <img class="card-img-top" [src]="product.imageUrl" alt="{{product.title}}" *ngIf="product.imageUrl">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'USD'}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button 
      *ngIf="shoppingCart.getQuantiti(product) === 0; else updateQuantiti"
      (click)="addToCart()" 
      class="btn btn-secondary btn-block">Add to Cart</button>
      <ng-template #updateQuantiti>
        <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
      </ng-template>
  </div>
</div>